<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiOrderGoodsMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.platform.entity.OrderGoodsVo" id="orderGoodsMap">
        <result property="id" column="id"/>
        <result property="order_id" column="order_id"/>
        <result property="goods_id" column="goods_id"/>
        <result property="goods_name" column="goods_name"/>
        <result property="goods_sn" column="goods_sn"/>
        <result property="product_id" column="product_id"/>
        <result property="number" column="number"/>
        <result property="market_price" column="market_price"/>
        <result property="retail_price" column="retail_price"/>
        <result property="actual_price" column="actual_price"/>
        <result property="goods_specifition_name_value" column="goods_specifition_name_value"/>
        <result property="is_real" column="is_real"/>
        <result property="goods_specifition_ids" column="goods_specifition_ids"/>
        <result property="list_pic_url" column="list_pic_url"/>
         <result property="channel" column="channel"/>
        <result property="createTime" column="create_time"/>
        <result property="goodStatus" column="good_status"/>
        <result property="goods_total_price" column="goods_total_price"/>
        <result property="caller_price" column="caller_price"/>
        <result property="caller_total_price" column="caller_total_price"/>
        <result property="caller_num" column="caller_num"/>
        <result property="logistics_no" column="logistics_no"/>
         <result property="shipment_name" column="shipment_name"/>
         <result property="actual_caller_price" column="actual_caller_price"/>
        
    </resultMap>

    <select id="queryObject" resultMap="orderGoodsMap">
		select * from nideshop_order_goods where id = #{value}
	</select>

    <select id="queryList" resultMap="orderGoodsMap">
        select * from nideshop_order_goods
        <where>
            <if test="order_id != null and order_id != ''">
                and order_id = #{order_id}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
		select count(*) from nideshop_order_goods 
	</select>

    <insert id="save" parameterType="com.platform.entity.OrderGoodsVo" useGeneratedKeys="true" keyProperty="id">
		insert into nideshop_order_goods
		(
			`order_id`, 
			`goods_id`, 
			`goods_name`, 
			`goods_sn`, 
			`product_id`, 
			`number`, 
			`goods_total_price`, 
			`market_price`, 
			`retail_price`, 
			`caller_price`, 
			`caller_total_price`, 
			`caller_num`, 
			`actual_caller_price`, 
			`actual_price`, 
			`goods_specifition_name_value`, 
			`is_real`, 
			`goods_specifition_ids`, 
			`list_pic_url`,
			`channel`,
			`create_time`,
			`logistics_no`,
			`good_status`)
		
		values
		(
		#{order_id},
			#{goods_id},
			#{goods_name},
			#{goods_sn},
			#{product_id},
			#{number},
			#{goods_total_price},
			#{market_price},
			#{retail_price},
			#{caller_price},
			#{caller_total_price},
			#{caller_num},
			#{actual_caller_price},
			#{actual_price},
			#{goods_specifition_name_value},
			#{is_real},
			#{goods_specifition_ids},
			#{list_pic_url},
	    	#{channel},
			#{createTime},
			#{logistics_no},
			#{goodStatus})
	</insert>

    <update id="update" parameterType="com.platform.entity.OrderGoodsVo">
        update nideshop_order_goods
        <set>
            <if test="order_id != null">`order_id` = #{order_id},</if>
            <if test="goods_id != null">`goods_id` = #{goods_id},</if>
            <if test="goods_name != null">`goods_name` = #{goods_name},</if>
            <if test="goods_sn != null">`goods_sn` = #{goods_sn},</if>
            <if test="product_id != null">`product_id` = #{product_id},</if>
            <if test="number != null">`number` = #{number},</if>
             <if test="goods_total_price != null">`goods_total_price` = #{goods_total_price},</if>
            <if test="market_price != null">`market_price` = #{market_price},</if>
            <if test="retail_price != null">`retail_price` = #{retail_price},</if>
             <if test="caller_price != null">`caller_price` = #{caller_price},</if>
             <if test="caller_total_price != null">`caller_total_price` = #{caller_total_price},</if>
             <if test="actual_price != null">`actual_price` = #{actual_price},</if>
             <if test="actual_caller_price != null">`actual_caller_price` = #{actual_caller_price},</if>
             <if test="caller_num != null">`caller_num` = #{caller_num},</if>
            <if test="goods_specifition_name_value != null">`goods_specifition_name_value` =
                #{goods_specifition_name_value},
            </if>
            <if test="is_real != null">`is_real` = #{is_real},</if>
            <if test="goods_specifition_ids != null">`goods_specifition_ids` = #{goods_specifition_ids},</if>
            <if test="list_pic_url != null">`list_pic_url` = #{list_pic_url},</if>
            <if test="channel != null">`channel` = #{channel}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="goodStatus != null">`good_status` = #{goodStatus},</if>
			<if test="shipment_name != null">`shipment_name` = #{shipment_name},</if>
			<if test="logistics_no != null">`logistics_no` = #{logistics_no}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
		delete from nideshop_order_goods where id = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from nideshop_order_goods where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
	<select id="queryOrderGoods" resultMap="orderGoodsMap">
		select * from nideshop_order_goods where good_status = 201 and order_id = #{orderId}
	</select>
	<select id="queryOrderDeliveredGoods" resultMap="orderGoodsMap">
		select * from nideshop_order_goods where good_status = 300 and order_id = #{orderId}
	</select>
	<select id="queryOrderLogisticGoods" resultMap="orderGoodsMap">
		select * from nideshop_order_goods where  order_id = #{orderId}
	</select>
</mapper>