<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiUserMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.platform.entity.UserVo" id="userMap">
        <result property="userId" column="id"/>
          <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="registerTime" column="register_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="userLevelId" column="user_level_id"/>
        <result property="nickname" column="nickname"/>
        <result property="mobile" column="mobile"/>
        <result property="registerIp" column="register_ip"/>
        <result property="avatar" column="avatar"/>
        <result property="weixinOpenid" column="weixin_openid"/>
        <result property="idcard" column="idcard"/>
    </resultMap>
    
    <!-- 用户资金流水实体 -->
    <resultMap type="com.platform.entity.QzMoneyRecordEntity" id="qzMoneyRecordMap">
        <result property="id" column="id"/>
        <result property="shopUserId" column="shop_user_id"/>
        <result property="tranType" column="tran_type"/>
        <result property="tranFlag" column="tran_flag"/>
        <result property="tarnAmount" column="tarn_amount"/>
        <result property="currentAmount" column="current_amount"/>
        <result property="createTime" column="create_time"/>
        <result property="tradeNo" column="trade_no"/>
    </resultMap>
    
    <!-- 用户账户实体 -->
    <resultMap type="com.platform.entity.QzUserAccountEntity" id="qzUserAccountMap">
        <result property="id" column="id"/>
        <result property="shopUserId" column="shop_user_id"/>
        <result property="amount" column="amount"/>
        <result property="lastUpdateTime" column="last_update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    
      <select id="queryByMobile" parameterType="java.lang.String" resultMap="userMap">
		select * from nideshop_user where  mobile = #{mobile}
	</select>
    

    <select id="queryObject" resultMap="userMap">
		select * from nideshop_user where id = #{value}
	</select>
	
	
	<select id="queryUserInfo" parameterType="java.util.Map" resultType="com.platform.entity.UserVo">
		select * from nideshop_user where 1=1
		<if test="userid != null"> and id = #{userid}</if>
		<if test="username != null and username.trim() != ''"> and username = #{username}</if>
		<if test="gender != null"> and gender = #{gender} </if>
		<if test="nickname != null and nickname.trim() != ''"> and nickname = #{nickname}</if>
		<if test="mobile != null and mobile.trim() != ''"> and mobile = #{mobile}</if>
		<if test="weixinOpenid != null and weixinOpenid.trim() != ''"> and weixinOpenid = #{weixinOpenid}</if>
	</select>

    <select id="queryByOpenId" resultMap="userMap">
        select * from nideshop_user
        where 1 = 1
        <if test="openId != null">
            and `weixin_openid` = #{openId}
        </if>
    </select>

    <select id="queryList" resultMap="userMap">
        select * from nideshop_user
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
		select count(*) from nideshop_user 
	</select>

    <insert id="save" parameterType="com.platform.entity.UserVo" useGeneratedKeys="true" keyProperty="userId">
	insert into nideshop_user(
			`username`,
			`password`,
			`gender`,
			`birthday`,
			`register_time`,
			`last_login_time`,
			`last_login_ip`,
			`user_level_id`,
			`nickname`,
			`mobile`,
			`register_ip`,
			`avatar`,
			`weixin_openid`,
			`idcard`)
		values(
			#{username},
			#{password},
			#{gender},
			#{birthday},
			#{registerTime},
			#{lastLoginTime},
			#{lastLoginIp},
			#{userLevelId},
			#{nickname},
			#{mobile},
			#{registerIp},
			#{avatar},
			#{weixinOpenid},
			#{idcard})
	</insert>

    <update id="update" parameterType="com.platform.entity.UserVo">
        update nideshop_user
        <set>
           <if test="username != null">`username` = #{username}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="gender != null">`gender` = #{gender}, </if>
			<if test="birthday != null">`birthday` = #{birthday}, </if>
			<if test="registerTime != null">`register_time` = #{registerTime}, </if>
			<if test="lastLoginTime != null">`last_login_time` = #{lastLoginTime}, </if>
			<if test="lastLoginIp != null">`last_login_ip` = #{lastLoginIp}, </if>
			<if test="userLevelId != null">`user_level_id` = #{userLevelId}, </if>
			<if test="nickname != null">`nickname` = #{nickname}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="registerIp != null">`register_ip` = #{registerIp}, </if>
			<if test="avatar != null">`avatar` = #{avatar}, </if>
			<if test="weixinOpenid != null">`weixin_openid` = #{weixinOpenid}, </if>
			<if test="idcard != null">`idcard` = #{idcard}</if>
        </set>
        where id = #{userId}
    </update>

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.platform.entity.SmsLogVo" id="smslogMap">
        <result property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="phone" column="phone"/>
        <result property="log_date" column="log_date"/>
        <result property="sms_code" column="sms_code"/>
        <result property="send_status" column="send_status"/>
        <result property="sms_text" column="sms_text"/>
    </resultMap>

    <select id="querySmsCodeByUserId" parameterType="java.lang.Long" resultType="com.platform.entity.SmsLogVo">
        select
        a.id,
        a.user_id ,
        a.phone,
        a.log_date as Log_date,
        a.sms_code,
        a.send_status as send_status,
        a.sms_text
        from nideshop_sms_log a
        left join nideshop_sms_log b on a.user_id = b.user_id and b.log_date > a.log_date
        where a.user_id = #{user_id} and b.id is null
    </select>

    <insert id="saveSmsCodeLog" parameterType="com.platform.entity.SmsLogVo">
        insert into nideshop_sms_log(
        `id`,
        `user_id`,
        `phone`,
        `log_date`,
        `sms_code`,
        `send_status`,
        `sms_text`)
        values(
        #{id},
        #{user_id},
        #{phone},
        #{log_date},
        #{sms_code},
        #{send_status},
        #{sms_text}
        )
    </insert>
    
    
    
    <!-- 根据用户id查询用户账户 -->
	<select id="queryUserAccount" resultMap="qzUserAccountMap">
		select
			`id`,
			`shop_user_id`,
			`amount`,
			`last_update_time`,
			`create_time`
		from qz_user_account
		where shop_user_id = #{userId}
	</select>
	
    <!-- 查询用户资金流水 -->
    <select id="queryuserAccountDetail" resultType="com.platform.entity.QzMoneyRecordEntity">
	    select
				`id`,
				`shop_user_id`,
				case when `tran_type` = 1 then '充值' else '未知' end 'tran_type',
				`tran_flag`,
				`tarn_amount`,
				`current_amount`,
				`create_time`,
				`trade_no`
			from qz_money_record
			where shop_user_id = #{userId} order by create_time desc
    </select>

</mapper>