<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiUserCouponMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.platform.entity.UserCouponVo" id="userCouponMap">
        <result property="id" column="id"/>
        <result property="coupon_id" column="coupon_id"/>
        <result property="coupon_number" column="coupon_number"/>
        <result property="user_id" column="user_id"/>
        <result property="used_time" column="used_time"/>
        <result property="add_time" column="add_time"/>
        <result property="order_id" column="order_id"/>
        <result property="source_key" column="source_key"/>
        <result property="referrer" column="referrer"/>
         <result property="coupon_price" column="coupon_price"/>
        <result property="coupon_status" column="coupon_status"/>
         <result property="goods_id" column="goods_id"/>
        <result property="parent_id" column="parent_id"/>
        <result property="abstract_coupon_status" column="abstract_coupon_status"/>
    </resultMap>

    <select id="queryObject" resultMap="userCouponMap">
		select * from nideshop_user_coupon where id = #{id}
	</select>

    <select id="queryByCouponNumber" resultMap="userCouponMap">
        select * from nideshop_user_coupon where coupon_number = #{coupon_number}
    </select>

    <select id="queryList" resultMap="userCouponMap">
        select a.* from nideshop_user_coupon a
        left join nideshop_coupon b on b.id = a.coupon_id
        where 1 = 1
        <if test="coupon_number != null">
            and a.coupon_number = #{coupon_number}
        </if>
        <if test="user_id != null">
            and a.user_id = #{user_id}
        </if>
        <if test="send_type != null">
            and b.send_type = #{send_type}
        </if>
        <if test="referrer != null">
            and a.referrer = #{referrer}
        </if>
        <if test="source_key != null">
            and a.source_key = #{source_key}
        </if>
         <if test="coupon_price != null">
            and a.coupon_price = #{coupon_price}
        </if>
         <if test="good_id != null">
            and a.good_id = #{good_id}
        </if>
        
         <if test="coupon_status != null">
            and a.coupon_status = #{coupon_status}
        </if>
        
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
		select count(*) from nideshop_user_coupon 
	</select>

    <insert id="save" parameterType="com.platform.entity.UserCouponVo" useGeneratedKeys="true" keyProperty="id">
		insert into nideshop_user_coupon
		(
			`coupon_id`, 
			`coupon_number`, 
			`user_id`, 
			`used_time`, 
			`order_id`,
			`add_time`,
			`source_key`,
			`referrer`,
			`coupon_price`,
			`coupon_status`,
			`parent_id`,
			`goods_id`,
			`abstract_coupon_status`
		)
		values
		(
            #{coupon_id},
			#{coupon_number},
			#{user_id},
			#{used_time},
			#{order_id},
			#{add_time},
			#{source_key},
			#{referrer},
			#{coupon_price},
			#{coupon_status},
			#{parent_id},
			#{goods_id},
			#{abstract_coupon_status}
		)
	</insert>

    <update id="update" parameterType="com.platform.entity.UserCouponVo">
        update nideshop_user_coupon
        <set>
            <if test="coupon_id != null">`coupon_id` = #{coupon_id},</if>
            <if test="coupon_number != null">`coupon_number` = #{coupon_number},</if>
            <if test="user_id != null">`user_id` = #{user_id},</if>
            <if test="used_time != null">`used_time` = #{used_time},</if>
            <if test="order_id != null">`order_id` = #{order_id},</if>
            <if test="add_time != null">`add_time` = #{add_time},</if>
            <if test="source_key != null">`source_key` = #{source_key},</if>
            <if test="referrer != null">`referrer` = #{referrer},</if>
            <if test="coupon_status != null">`coupon_status` = #{coupon_status},</if>
            <if test="coupon_price != null">`coupon_price` = #{coupon_price},</if>
            <if test="parent_id != null">`parent_id` = #{parent_id},</if>
            <if test="goods_id != null">`goods_id` = #{goods_id},</if>
            <if test="abstract_coupon_status != null">`abstract_coupon_status` = #{abstract_coupon_status}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
		delete from nideshop_user_coupon where id = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from nideshop_user_coupon where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
     <update id="updateUserCoupon" parameterType="com.platform.entity.UserCouponVo">
        update nideshop_user_coupon
        <set>
            <if test="coupon_status != null">`coupon_status` = #{coupon_status}</if>
        </set>
        where user_id = #{user_id} 
        and coupon_id = #{coupon_id}
    </update>
	<select id="queryUserCoupons" resultMap="userCouponMap">
		select uc.*
		from nideshop_user_coupon uc
		where 1=1 
		and uc.user_id = #{user_id} 
		and uc.good_id = #{good_id} 
		and uc.coupon_status = 1
	</select>
	<delete id="deleteUserCoupon">
		delete from nideshop_user_coupon where 
		<if test="good_id != null">
           good_id = #{good_id}
        </if>
        <if test="user_id != null">
           and user_id = #{user_id}
        </if>
		   and coupon_status = 1
	</delete>
	<select id="queryUserCouponTotalPrice" resultMap = "userCouponMap">
		select uc.*
		from nideshop_user_coupon uc where uc.user_id = #{userId} and coupon_status = 1 and parent_id = 0
	</select>
	<delete id="deleteUserCouponPrice">
		delete from nideshop_user_coupon where user_id = #{user_id} and coupon_status = 1
	</delete>
	<select id="queryUserUsedCouponTotalPrice" resultMap = "userCouponMap">
		select uc.*
		from nideshop_user_coupon uc where uc.user_id = #{userId} and coupon_status = 2
	</select>
	<select id="queryUserCoupon" resultMap = "userCouponMap">
		select uc.*,b.name
		from nideshop_user_coupon uc left join nideshop_coupon b on b.id = uc.coupon_id where uc.user_id = #{userId}
	</select>
	
	    <update id="updateUserOrderCoupon" parameterType="com.platform.entity.UserCouponVo">
        update nideshop_user_coupon
        <set>
            <if test="coupon_status != null">`coupon_status` = #{coupon_status}</if>
        </set>
        where  id = #{id}
    </update>
    <select id="querySubCoupons" resultMap = "userCouponMap">
    	select * from nideshop_user_coupon where parent_id = #{id} and coupon_status = 1
    </select>
    <select id = "quertUserCouponByGoodId" resultMap = "userCouponMap">
    	select * from nideshop_user_coupon where goods_id = #{goodId} and coupon_status = 1
    </select>
    <select id="quertSubUserCoupons" resultMap = "userCouponMap">
    	select * from nideshop_user_coupon where parent_id = #{id} 
    </select>
</mapper>