<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.JdGoodsImgPathMapper">

    <resultMap type="com.platform.youle.entity.GoodsImagePathVo" id="jdGoodsImagePathMap">
        <result property="id" column="id"/>
        <result property="imageUrl" column="image_url"/>
        <result property="orderSort" column="order_sort"/>
        <result property="goodsId" column="goods_id"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

	<select id="queryObject" resultMap="jdGoodsImagePathMap">
		select
			`id`,
			`image_url`,
			`order_sort`,
			`goods_id`,
			`create_time`,
			`create_by`,
			`update_time`
		from jd_goods_image_path
		where id = #{id}
	</select>

	<select id="queryList" resultMap="jdGoodsImagePathMap">
		select
    		`id`,
    		`image_url`,
    		`order_sort`,
    		`goods_id`,
    		`create_time`,
    		`create_by`,
    		`update_time`
		from jd_goods_image_path
		WHERE 1=1
		<if test="name != null and name.trim() != ''">
			AND name LIKE concat('%',#{name},'%')
		</if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from jd_goods_image_path
		WHERE 1=1
        <if test="name != null and name.trim() != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
	</select>
	 
	<insert id="save" parameterType="com.platform.youle.entity.GoodsImagePathVo" useGeneratedKeys="true" keyProperty="id">
		insert into jd_goods_image_path(
			`image_url`,
			`order_sort`,
			`goods_id`,
			`create_time`,
			`create_by`,
			`update_time`)
		values(
			#{imageUrl},
			#{orderSort},
			#{goodsId},
			#{createTime},
			#{createBy},
			#{updateTime})
	</insert>
	 
	<update id="update" parameterType="com.platform.youle.entity.GoodsImagePathVo">
		update jd_goods_image_path 
		<set>
			<if test="imageUrl != null">`image_url` = #{imageUrl}, </if>
			<if test="orderSort != null">`order_sort` = #{orderSort}, </if>
			<if test="goodsId != null">`goods_id` = #{goodsId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from jd_goods_image_path where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from jd_goods_image_path where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>